@charset "UTF-8";
/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
#button {
  width: 50%;
  /* 100% of parent container*/
  margin: 100px auto;
  line-height: 1.6; }
  @media (max-width: 500px) {
    #button {
      width: 90%; } }
  #button h3 {
    font-size: 20px !important;
    font-family: inherit;
    font-weight: 800;
    text-align: center; }
    @media (max-width: 1024px) and (orientation: portrait) {
      #button h3 {
        font-size: 20px !important; } }
    @media (min-width: 1800px) {
      #button h3 {
        font-size: 30px; } }

#button-container {
  width: 100%;
  display: flex; }

#support-us {
  width: auto;
  background-color: #ffc423 !important;
  padding: 10px;
  outline: none;
  border: none;
  font-weight: 800;
  font-size: 18px;
  margin: auto;
  cursor: pointer; }
  @media (max-width: 1024px) and (orientation: portrait) {
    #support-us {
      font-size: 20px !important; } }
  @media (min-width: 1800px) {
    #support-us {
      font-size: 30px; } }

/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
#logo-soc {
  width: 80vw;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto 10vw;
  display: flex;
  justify-content: space-between; }

.logo {
  height: 50px;
  width: 150px; }
  @media screen and (min-width: 1824px) {
    .logo {
      width: 150px; } }
  @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .logo {
      width: 120px; } }
  .logo a {
    height: 100%;
    display: flex; }
    .logo a img {
      margin: auto; }

.soc {
  z-index: 10000;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px; }
  .soc div#translate {
    display: flex; }
  .soc a {
    margin: auto;
    text-decoration: none; }
  .soc a span {
    border-bottom: 1px dashed black;
    margin-right: 20px;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    color: black !important;
    background-color: rgba(225, 225, 225, 0.7); }
    @media screen and (min-width: 1824px) {
      .soc a span {
        font-size: 14px; } }
  .soc i {
    font-size: 35px;
    color: #78b2ff;
    margin: 0 0 0 0.5em;
    max-height: 1em;
    transition: all 0.5s; }
    @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .soc i {
        font-size: 20px; } }
    .soc i:hover {
      color: pink; }

#cover-picture {
  width: 100%;
  height: auto; }

/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* Read more links */
.read-more {
  margin: 50px auto 100px auto;
  width: 80%; }
  .read-more h3 {
    font-family: inherit;
    width: auto;
    text-align: center;
    margin: 20px auto; }
  .read-more #read-more-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px; }
    @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .read-more #read-more-items {
        display: block; } }
    .read-more #read-more-items a img {
      width: 100%; }

/* Created by Texty*/
#created_texty {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin: 4em 15% 4em 15%; }
  #created_texty i {
    box-sizing: content-box;
    margin: 0.5em;
    cursor: pointer;
    width: 1em;
    height: 1em;
    border: 1px solid #a6a6a6;
    color: #a6a6a6;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 2.5em;
    line-height: 1;
    transition: all 0.5s; }
    #created_texty i:hover {
      border: 1px solid #a6a6a6;
      color: #262626; }
  #created_texty img {
    max-height: 4em;
    max-width: 90%;
    width: 200px; }
  #created_texty div {
    text-align: center; }
  #created_texty h3 {
    text-align: center;
    font-size: 1.5rem; }

/* standart footer */
.footer {
  line-height: 1.6;
  font-family: inherit;
  text-align: center;
  background-color: #252626;
  color: white;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1% 1fr 1fr 1fr 1fr 1%;
  grid-template-rows: auto auto;
  grid-gap: 1rem; }
  .footer a {
    color: white; }
  .footer a:visited {
    color: white; }
  .footer .copyright {
    text-align: left;
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
  .footer #align {
    align-self: start; }
  .footer .copyright h5 {
    font-size: calc(0.8rem + 0.8vw) !important;
    line-height: calc(1.5rem + 0.8vw); }
  .footer ul {
    list-style-type: none;
    -webkit-padding-start: 0; }
  .footer ul li {
    margin-bottom: 5px;
    text-align: left;
    font-size: 12px; }
    @media (max-width: 1024px) and (orientation: portrait) {
      .footer ul li {
        font-size: 15px !important; } }
    @media (min-width: 1800px) {
      .footer ul li {
        font-size: 20px; } }
  .footer ul li#big {
    text-align: left;
    font-size: 14px; }
    @media (max-width: 1024px) and (orientation: portrait) {
      .footer ul li#big {
        font-size: 15px !important; } }
    @media (min-width: 1800px) {
      .footer ul li#big {
        font-size: 20px; } }
  .footer ul.links0 {
    grid-column: 2/3;
    -webkit-padding-start: 0; }
  .footer ul.links1 li a, .footer ul.links2 li a, .footer ul.links3 li a, .footer ul.links0 li {
    text-decoration: none !important;
    color: white;
    line-height: 1.6; }
  .footer ul.links3 li a#orange {
    color: orange; }
  @media screen and (min-width: 1824px), screen and (min-width: 1224px), screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .footer .links0 {
      grid-column: 2 / 3;
      grid-row: 1 / 2; } }
  @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .footer .links0 {
      grid-column: 2 / -2;
      grid-row: 1 / 2; } }
  .footer .links1 {
    grid-column: 3 / 4;
    grid-row: 1 / 2; }
  .footer .links2 {
    grid-column: 4 / 5;
    grid-row: 1 / 2; }
  .footer .links3 {
    grid-column: 5 / 6;
    grid-row: 1 / 2; }
  .footer .copying-info {
    margin: 20px 0;
    font-size: 13px;
    text-align: left;
    grid-column: 2 / -2;
    grid-row: 2 / 3;
    max-width: 100vw;
    min-height: 30px; }
    @media (max-width: 1024px) and (orientation: portrait) {
      .footer .copying-info {
        font-size: 15px !important; } }
    @media (min-width: 1800px) {
      .footer .copying-info {
        font-size: 20px; } }
  @media screen and (min-device-width: 320px) and (max-device-width: 480px), screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .footer .links1, .footer .links2, .footer .links3 {
      display: none;
      font-size: 0 !important; } }

* {
  outline: none; }

body {
  background-color: black;
  font-family: 'Fira Mono', monospace;
  margin: 0;
  padding: 0; }
  @media (max-width: 850px) and (orientation: landscape) {
    body {
      background-color: black; } }
  @media (max-width: 500px) and (orientation: portrait) {
    body {
      background-color: black; } }

.fullscreenLoader {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0; }

.desk {
  display: block; }
  @media (max-width: 813px) and (orientation: landscape) {
    .desk {
      display: none; } }
  @media (max-width: 500px) and (orientation: portrait) {
    .desk {
      display: none; } }

.mob {
  display: none; }
  @media (max-width: 813px) and (orientation: landscape) {
    .mob {
      display: block; } }
  @media (max-width: 500px) and (orientation: portrait) {
    .mob {
      display: block; } }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  .modal #img01 {
    margin: auto;
    max-height: 100%; }
  .modal #next {
    cursor: pointer;
    position: absolute;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: calc(50% - 25px); }

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0); }
  50% {
    transform: scaleY(0.005) scaleX(1); }
  100% {
    transform: scaleY(1) scaleX(1); } }
.modal-content {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block; }

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

#header {
  min-height: 100vh;
  padding-bottom: 20px;
  background-color: black;
  color: #78b2ff;
  display: grid;
  grid-template-columns: 10vw auto 25% 20% 10vw;
  grid-template-rows: 50px auto max-content max-content; }
  @media (max-width: 813px) {
    #header {
      grid-template-columns: 10% 90%;
      grid-template-rows: 50px auto max-content max-content max-content max-content; } }
  #header #logo-soc {
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 10000; }
  #header #grid {
    background-image: url(../img/cover1.jpg);
    background-position: 50% 55%;
    background-size: cover;
    height: 100%;
    min-height: 40vh;
    grid-column: 1/-1;
    grid-row: 2/3; }
  #header .child {
    padding: 0 20px 0 0; }
  #header #cover {
    grid-column: 1/-1;
    grid-row: 2/3; }
  #header h1 {
    padding: 20px 0;
    text-align: left;
    width: 100%;
    margin: 5px auto 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 50pt;
    font-weight: normal;
    grid-column: 2/3;
    grid-row: 3/4; }
    @media (max-width: 1300px) {
      #header h1 {
        font-size: 40pt;
        margin: 25px auto; } }
    @media (max-width: 1000px) {
      #header h1 {
        font-size: 35pt;
        margin: 25px auto; } }
    @media (max-width: 813px) {
      #header h1 {
        font-size: 30pt;
        grid-column: 2/-1;
        padding: 20px 0;
        margin: 0 auto; } }
  #header h3 {
    padding: 0;
    text-align: left;
    width: 90%;
    margin: 5px 15% 5px 0;
    font-size: 16pt;
    line-height: 1.5;
    font-weight: normal;
    grid-column: 2/3;
    grid-row: 4/5; }
    @media (max-width: 813px) {
      #header h3 {
        grid-column: 2/-1;
        grid-row: 4/5;
        padding: 20px 0;
        margin: 0;
        font-size: 14pt; } }
  #header #credits {
    text-align: left;
    width: 90%;
    margin: 0;
    font-size: 13pt;
    font-weight: normal;
    line-height: 1.5;
    grid-column: 3/4;
    grid-row: 4/5; }
    @media (max-width: 813px) {
      #header #credits {
        grid-column: 2/-1;
        grid-row: 5/6;
        font-size: 12pt;
        margin: 25px 0; } }
  #header #notes {
    text-align: left;
    width: 90%;
    margin: 0;
    font-size: 13pt;
    font-weight: normal;
    line-height: 1.5;
    grid-column: 4/5;
    grid-row: 4/5; }
    @media (max-width: 813px) {
      #header #notes {
        grid-row: 6/7;
        grid-column: 2/-1;
        font-size: 11pt;
        margin: 25px 0; } }

main {
  margin: 0; }
  main .river {
    position: relative;
    background-color: black;
    background-size: cover;
    height: 100vh;
    color: #78b2ff;
    display: grid;
    grid-template-columns: 60% 30%; }
    @media (max-width: 1400px) {
      main .river {
        grid-template-columns: 50% 45%; } }
    @media (max-width: 813px) {
      main .river {
        display: block; } }
    main .river img {
      width: 100%;
      margin: 20px auto auto auto; }
    main .river div.text-container {
      grid-column: 2/3;
      max-height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 20px 5%; }
      @media (max-width: 813px) {
        main .river div.text-container {
          height: auto; } }
      main .river div.text-container h2 {
        text-align: left;
        font-size: 18pt;
        margin: 0;
        line-height: 1.5; }
      main .river div.text-container h2 span {
        line-height: 1.5;
        text-transform: uppercase; }
      main .river div.text-container p {
        text-align: left;
        font-size: 18px;
        line-height: 1.5; }
        @media (max-width: 813px) {
          main .river div.text-container p {
            font-size: 13pt !important; } }

.popup {
  margin-top: 25px;
  font-size: 14pt;
  letter-spacing: 5px;
  color: white;
  cursor: pointer; }

.popup:hover {
  color: deeppink; }

.show-map {
  text-align: left;
  margin-left: 0;
  width: max-content;
  color: white;
  margin-top: 25px;
  font-size: 14pt;
  letter-spacing: 5px;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid white;
  cursor: pointer; }
  @media (max-width: 813px) {
    .show-map {
      border-bottom: 0; } }

.show-map:hover {
  color: deeppink;
  border-bottom: 1px solid deeppink; }
  @media (max-width: 813px) {
    .show-map:hover {
      border-bottom: 0; } }

#block-for-slider {
  width: 100%;
  margin: 0 auto; }

#viewport {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center; }

#slidewrapper {
  position: relative;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
  -o-transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
  transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1); }

#slidewrapper {
  width: calc(100% * 22); }

#slidewrapper, #slidewrapper ul, #slidewrapper li {
  margin: 0;
  padding: 0; }

.slide {
  list-style: none;
  display: inline;
  float: left; }

.slide {
  width: calc(100%/22); }

#prev-btn, #next-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: calc(50% - 25px); }

#prev-btn:hover, #next-btn:hover {
  cursor: pointer; }

#prev-btn {
  left: 20px; }

#next-btn {
  right: 20px; }

#nav-btns {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center; }

.slide-nav-btn {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin: 3px; }

.slide-nav-btn:hover {
  cursor: pointer; }

#click {
  position: absolute;
  cursor: pointer;
  z-index: 20000000; }

#prev-btn {
  display: none; }

/* мобільна */
.mob-pic {
  height: auto;
  width: 100%; }

.text-container-mob {
  color: #78b2ff;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 5%; }

hr {
  border: none;
  /* Убираем границу для браузера Firefox */
  background-color: white;
  /* Цвет линии для браузера Firefox и Opera */
  height: 2px;
  /* Толщина линии */
  color: #78b2ff;
  margin-bottom: 50px; }

a {
  color: #78b2ff; }

a:hover {
  color: white; }

.social-icons-inside-slide {
  width: max-content;
  background-color: black;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px; }
  .social-icons-inside-slide a {
    margin: auto;
    text-decoration: none; }
  .social-icons-inside-slide a span {
    border-bottom: 1px dashed black;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    color: black !important;
    background-color: rgba(225, 225, 225, 0.7); }
    @media screen and (min-width: 1824px) {
      .social-icons-inside-slide a span {
        font-size: 14px; } }
  .social-icons-inside-slide i {
    font-size: 35px;
    color: #78b2ff;
    margin: 10px;
    max-height: 1em;
    transition: all 0.5s; }
    @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .social-icons-inside-slide i {
        font-size: 20px; } }

/*# sourceMappingURL=styles.css.map */
