@import "variables";
@import "donate";
@import "header";
@import "footer";


* {
  outline:none;
}

body {
  background-color: black;
  font-family: 'Fira Mono', monospace;
  margin:0;
  padding:0;
  @media(max-width:850px) and (orientation:landscape){
    background-color: rgba(0, 0, 0, 1);
  }
  @media(max-width:500px) and (orientation:portrait){
    background-color: rgba(0, 0, 0, 1);
  }
}

.fullscreenLoader {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}


.desk {
  display:block;
  @media(max-width:813px) and (orientation:landscape){
    display:none;
  }
  @media(max-width:500px) and (orientation:portrait){
    display:none;
  }
}

.mob {
  display:none;
  @media(max-width:813px) and (orientation:landscape){
    display:block;
  }
  @media(max-width:500px) and (orientation:portrait){
    display:block;
  }
}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  transform: scaleY(.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;


  #img01 {
    margin:auto;
    max-height:100%;
  }

  #next {
    cursor:pointer;
    position: absolute;
    right:50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: calc(50% - 25px);
  }
}

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

.modal-content {
  max-height:100%;
  max-width:100%;
  margin: auto;
  display: block;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


#header {
  min-height:100vh;
  padding-bottom:20px;
  background-color: black;
  color: #78b2ff;
  display:grid;
  grid-template-columns: 10vw auto 25% 20% 10vw;
  grid-template-rows: 50px auto max-content max-content;
  @media (max-width:813px) {
    grid-template-columns: 10% 90%;
    grid-template-rows: 50px auto max-content max-content max-content max-content;
  }

  #logo-soc {
    grid-column:1/-1;
    grid-row:1/2;
    z-index: 10000;
  }

  #grid {
    background-image: url(../img/cover1.jpg);
    background-position: 50% 55%;
    background-size: cover;
    height:100%;
    min-height:40vh;
    grid-column: 1/-1;
    grid-row:2/3;
  }

  .child {
    padding:0 20px 0 0;
  }

  #cover {
    grid-column: 1/-1;
    grid-row:2/3;
  }

  h1 {
    padding: 20px 0;
    text-align: left;
    width:100%;
    margin: 5px auto 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size:50pt;
    font-weight: normal;
    grid-column: 2/3;
    grid-row:3/4;
    @media (max-width:1300px) {
      font-size:40pt;
      margin: 25px auto;
    }
    @media (max-width:1000px) {
      font-size:35pt;
      margin: 25px auto;
    }
    @media (max-width:813px) {
      font-size:30pt;
      grid-column: 2/-1;
      padding:20px 0;
      margin: 0 auto;
    }
  }

  h3 {
    padding:0;
    text-align: left;
    width:90%;
    margin: 5px 15% 5px 0;
    font-size:16pt;
    line-height: 1.5;
    font-weight: normal;
    grid-column: 2/3;
    grid-row:4/5;
    @media (max-width:813px) {
      grid-column: 2/-1;
      grid-row:4/5;
      padding:20px 0;
      margin: 0;
      font-size:14pt;
    }
  }

  #credits {
    text-align: left;
    width:90%;
    margin:0;
    font-size:13pt;
    font-weight: normal;
    line-height: 1.5;
    grid-column: 3/4;
    grid-row:4/5;
    @media (max-width:813px) {
      grid-column: 2/-1;
      grid-row:5/6;
      font-size:12pt;
      margin: 25px 0;
    }
  }

  #notes {
    text-align: left;
    width:90%;
    margin:0;
    font-size:13pt;
    font-weight: normal;
    line-height: 1.5;
    grid-column: 4/5;
    grid-row:4/5;
    @media (max-width:813px) {
      grid-row:6/7;
      grid-column: 2/-1;
      font-size:11pt;
      margin: 25px 0;
    }
  }
}

main {
  margin:0;
  .river {
    position:relative;
    background-color:black;
    background-size: cover;
    height:100vh;
    color: #78b2ff;
    display:grid;
    grid-template-columns: 55% 35%;
    @media (max-width:1400px) {
      grid-template-columns: 50% 45%;
    }
    @media (max-width:813px) {
      display:block;
    }


    img {
      width:100%;
      margin: 20px auto auto auto;
    }

    div.text-container {
      grid-column:2/3;
      max-height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 20px 5%;
      @media (max-width:813px) {
        height: auto;
      }


      h2 {
        text-align: left;
        font-size:18pt;
        margin: 0;
        line-height: 1.5;

      }

      h2 span {
        line-height: 1.5;
        text-transform: uppercase;
      }

      p {
        text-align: left;
        font-size:18px;
        line-height: 1.5;
        @media (max-width:813px) {
          font-size:13pt !important;
        }
      }


    }

  }
}

.popup {
  margin-top: 25px;
  font-size:14pt;
  letter-spacing: 5px;
  color:white;
  cursor: pointer;
}

.popup:hover {
  color: deeppink;
}

.show-map {
  text-align: left;
  margin-left: 0;
  width: max-content;
  color:white;
  margin-top: 25px;
  font-size:14pt;
  letter-spacing: 5px;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid white;
  cursor: pointer;
  @media(max-width:813px) {
    border-bottom: 0;
  }
}

.show-map:hover {
  color: deeppink;
  border-bottom: 1px solid deeppink;
  @media(max-width:813px) {
    border-bottom: 0;
  }
}


#block-for-slider {
  width: 100%;
  margin: 0 auto;
  //margin-top: 30px;
}

#viewport {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}

#slidewrapper {
  position: relative;
  width: calc(100% * 22);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  transition-timing-function: cubic-bezier(.67,.01,.23,1);
}


#slidewrapper, #slidewrapper ul, #slidewrapper li {
  margin: 0;
  padding: 0;
}

.slide {
  list-style: none;
  display: inline;
  float: left;
}

.slide {
  width: calc(100%/22);
}



#prev-btn, #next-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: calc(50% - 25px);
}


#prev-btn:hover, #next-btn:hover {
  cursor: pointer;
}

#prev-btn {
  left: 20px;
}

#next-btn {
  right: 20px;
}

#nav-btns {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.slide-nav-btn {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin: 3px;
}

.slide-nav-btn:hover  {
  cursor: pointer;
}


#click {
  position:absolute;
  cursor:pointer;
  z-index: 20000000;
}


#prev-btn {
  display:none;
}


/* мобільна */
.mob-pic {
  height:auto;
  width:100%;
}

.text-container-mob {
  color: #78b2ff;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 5%;
}

hr {
  border: none;
  background-color: white;
  height: 2px;
  color:#78b2ff;
  margin-bottom:50px;
}

a {
  color: #78b2ff;
}

a:hover {
  color:white;
}


/*--- range slider ---*/

#sliderContainer{
  width:80vw;
  margin:0 10vw;
  color:white;
}
input[type="range"]{
  width:100%;
}
