@import "variables";
@import "donate";
@import "header";
@import "footer";


body {
  font-family: 'Fira Mono', monospace;
  margin:0;
  padding:0;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  transform: scaleY(.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

  #next {
    position: absolute;
    right:50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: calc(50% - 25px);
  }
}

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

//@keyframes unfoldOut {
//  0% {
//    transform:scaleY(1) scaleX(1);
//  }
//  50% {
//    transform:scaleY(.005) scaleX(1);
//  }
//  100% {
//    transform:scaleY(.005) scaleX(0);
//  }
//}

.modal-content {
  max-height:100%;
  max-width:100%;
  margin: auto;
  display: block;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


#header {
  width:100%;
  background-color: black;
  min-height:100vh;
  height: max-content;
  color: #78b2ff;
  display:grid;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: auto auto auto;
  margin-bottom:20px;
  @media (max-width:800px) {
    display: block;
    min-height:50vh;
  }

  #cover {
    width:100%;
    grid-column: 1/-1;
    grid-row:1/2;
  }

  h1 {
    width:90%;
    margin: 5px auto;
    font-family: 'Roboto', sans-serif;
    font-size:0;
    font-weight: normal;
    grid-column: 1/2;
    grid-row:2/3;
    @media (max-width:800px) {
      margin: 25px auto;
    }
  }

  h3 {
    width:90%;
    margin:0 auto;
    font-size:20pt;
    font-weight: normal;
    grid-column: 1/2;
    grid-row:3/4;
    @media (max-width:800px) {
      margin: 25px auto;
    }
  }

  #credits {
    width:90%;
    margin:5px auto;
    font-size:16pt;
    font-weight: normal;
    grid-column: 2/3;
    grid-row:3/4;
    @media (max-width:800px) {
      font-size:13pt;
      margin: 25px auto;
    }
  }

  #notes {
    width:90%;
    margin:5px auto;
    font-size:13pt;
    font-weight: normal;
    line-height: 1.5;
    grid-column: 3/4;
    grid-row:3/4;
    @media (max-width:800px) {
      font-size:11pt;
      margin: 25px auto;
    }
  }
}

main {

  .slide {
    position:relative;
    background-color:black;
    background-size: cover;
    height:100vh;
    color: #78b2ff;
    display:grid;
    grid-template-columns: 60% 30%;
    @media (max-width:1400px) {
      grid-template-columns: 50% 45%;
    }
    @media (max-width:800px) {
      display:block;
    }


    img {
      width:100%;
      margin: 20px auto auto auto;
    }

    div#text-container {
      max-height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 20px 5%;
      @media (max-width:800px) {
        height: auto;
      }


      h2 {
        text-align: left;
        font-size:18pt;
        margin: 0;
        line-height: 1.5;

      }

      h2 span {
        line-height: 1.5;
        text-transform: uppercase;
      }

      p {
        text-align: left;
        font-size:15pt;
        line-height: 1.5;
        @media (max-width:800px) {
          font-size:13pt !important;
        }
      }

      .popup {
        margin-top: 25px;
        font-size:14pt;
        letter-spacing: 5px;
        color:white;
        cursor: pointer;
      }

      .show-map {
        text-align: left;
        margin-left: 0;
        width: max-content;
        color:white;
        margin-top: 25px;
        font-size:14pt;
        letter-spacing: 5px;
        padding-bottom: 2px;
        text-decoration: none;
        border-bottom: 1px solid white;
        cursor: pointer;
      }

    }

   //#prev-next-btns {
   //   display:grid;
   //   grid-template-columns: 50% 50%;
   //   position:absolute;
   //   bottom:50px;
   //   right:50px;
   // }
   //
   // .btn {
   //   width:50px;
   //   height:50px
   // }

  }


}



#block-for-slider {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

#viewport, #viewport-mob {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}

#slidewrapper, #slidewrapper-mob {
  position: relative;
  //width: calc(100% * 18);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  transition-timing-function: cubic-bezier(.67,.01,.23,1);
}
#slidewrapper {
  width: calc(100% * 21);
}

#slidewrapper-mob {
  width: calc(100% * 21);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li,
#slidewrapper-mob, #slidewrapper-mob ul, #slidewrapper-mob li {
  margin: 0;
  padding: 0;
}

.slide, .slide-mob {
  //width: calc(100%/18);
  list-style: none;
  display: inline;
  float: left;
}

.slide {
  width: calc(100%/21);
}

.slide-mob {
  width: calc(100%/21);
}


#prev-btn, #next-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  //background-color: #fff;
  border-radius: 50%;
  top: calc(50% - 25px);
}

#prev-btn-mob, #next-btn-mob {
  position: absolute;
  width: 20px;
  height: 20px;
  //background-color: #fff;
  border-radius: 50%;
  top: calc(50vh - 25px);
}

#prev-btn:hover, #next-btn:hover,
#prev-btn-mob:hover, #next-btn-mob:hover{
  cursor: pointer;
}

#prev-btn, #prev-btn-mob {
  left: 20px;
}

#next-btn, #next-btn-mob {
  right: 20px;
}

#nav-btns {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.slide-nav-btn, .slide-nav-btn-mob {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin: 3px;
}

.slide-nav-btn:hover, .slide-nav-btn-mob:hover  {
  cursor: pointer;
}


#click, #click-mob {
  position:absolute;
  cursor:pointer;
  z-index: 20000000;
}


#prev-btn, #prev-btn-mob {
  display:none;
}



